h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  width: 375px;  
  margin: 0 auto;
  padding: 0;
}

li {
  display: flex;
  color: #555;  
  background-color: #fff;  
  padding: 5px;
  margin: 20px 0;  
  /* border: 1px solid #ccc; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.left .image-container {
  height: 80px;
  width: 120px;
  overflow: hidden;
}

li img {
  width: 120px;
  height: auto;
}

.right .title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

li .right .distance {
  margin: 0;
  font-size: 0.65rem;
}

li .right .description {
  margin: 5px 0;
  font-size: 0.75rem;
}

li .left {
  flex: 1;
}

li .right {
  flex: 2;
  margin-left: 15px;
}

